@import "tailwindcss";

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/SuisseIntl.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/SuisseIntl-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Suisse Intl", sans-serif;
}

